#progresso {
    width: 0;
    height: 20px;
    background-color: #3498db;
    transition: width 0.3s ease;
  }

#formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; /* Cor de fundo da div */
    border-radius: 15px; /* Raio das bordas arredondadas */
    padding: 20px; /* Espaçamento interno para o conteúdo */
    color: #ffffff; /* Cor do texto dentro da div */
    text-align: center; /* Alinhamento do texto ao centro */
}