#progresso {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 0;
    height: 20px;
    background-color: #000000;
    transition: width 0.3s ease;
  }
.fundo-progresso{
    width: 100%;
    height: 20px;
    background-color: #9d0a0a;
}

.perguntas-aluno{
  padding: 2vh;
  display: flex;
  text-align: center;
  background-color: #a42c2c;
}

.perguntas-escola{
  padding: 2vh;
  display: flex;
  text-align: center;
  background-color: #c34444;
}
.perguntas-personagem1{
  padding: 2vh;
  display: flex;
  text-align: center;
  background-color: #ee8989;
 }
.perguntas-personagem{
  padding: 2vh;
  background-color: #ee8989;
}

.input{
  margin-left: 2vh;
  margin-right: 2vh;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  border-radius:  10px 10px 10px 10px;
}

input:hover{
  background-color: #cb4949;
  box-shadow: 2px 2px 8px 8px whitesmoke;
}
#enviar{
  font-size: 20px;
}

.resultado {
  font-size: 30px;
}